In [45]:
import pandas as pd
df = pd.read_csv("./OPEN_MEDIC_2022.CSV",sep=";",encoding='latin-1')

In [46]:
atc_lib = pd.read_csv("./ATC5.csv",sep=";",encoding='latin-1')
region_lib = pd.read_csv("./region.csv",sep=";",encoding='latin-1')
sexe_lib = pd.read_csv("./sexe.csv",sep=";",encoding='latin-1')
age_lib = pd.read_csv("./age.csv",sep=";",encoding='latin-1')

In [47]:
boites_regions = df.loc[:,["ATC5","BEN_REG","BOITES","age","sexe"]]

boites_regions_lib = pd.merge(boites_regions,atc_lib,on='ATC5',how='inner')
boites_regions_lib = pd.merge(boites_regions_lib,region_lib,on='BEN_REG',how='inner')
boites_regions_lib = pd.merge(boites_regions_lib,age_lib,on='age',how='inner')
boites_regions_lib = pd.merge(boites_regions_lib,sexe_lib,on='sexe',how='inner')

boites_regions_lib.head()

,ATC5,BEN_REG,BOITES,age,sexe,lib_atc,lib_reg,Lib_age,lib_sexe
0,A01AA01,5,17,0,1,SODIUM FLUORURE,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
1,A01AA01,5,66,0,1,SODIUM FLUORURE,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
2,A01AA01,5,20,0,1,SODIUM FLUORURE,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
3,A01AA01,5,14,0,1,SODIUM FLUORURE,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
4,A01AA51,5,1114,0,1,SODIUM FLUORURE EN ASSOCIATION,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN

In [56]:
boites_regions_lib_paracetamol = boites_regions_lib[boites_regions_lib['lib_atc'].str.contains('PARACETAMOL')] #que les prescriptions de paracetamol

,ATC5,BEN_REG,BOITES,age,sexe,lib_atc,lib_reg,Lib_age,lib_sexe
3274,N02AJ13,5,112,0,1,TRAMADOL + PARACETAMOL,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
3275,N02AJ13,5,85,0,1,TRAMADOL + PARACETAMOL,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
3276,N02AJ13,5,24,0,1,TRAMADOL + PARACETAMOL,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
3277,N02AJ13,5,491,0,1,TRAMADOL + PARACETAMOL,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
3278,N02AJ13,5,52,0,1,TRAMADOL + PARACETAMOL,Régions et Départements d'outre-mer,0-19 ANS,MASCULIN
...,...,...,...,...,...,...,...,...,...
1872472,N02BE01,99,1115,99,9,PARACETAMOL,Inconnu,AGE INCONNU,VALEUR INCONNUE
1872473,N02BE71,99,57,99,9,PARACETAMOL EN ASSOCIATION AVEC DES PSYCHOLEPT...,Inconnu,AGE INCONNU,VALEUR INCONNUE
1872474,N02BE71,99,200,99,9,PARACETAMOL EN ASSOCIATION AVEC DES PSYCHOLEPT...,Inconnu,AGE INCONNU,VALEUR INCONNUE
1872475,N02BE51,99,32,99,9,PARACETAMOL EN ASSOCIATION SAUF PSYCHOLEPTIQUES,Inconnu,AGE INCONNU,VALEUR INCONNUE
1872476,N02BE51,99,213,99,9,PARACETAMOL EN ASSOCIATION SAUF PSYCHOLEPTIQUES,Inconnu,AGE INCONNU,VALEUR INCONNUE

In [63]:
map1 = boites_regions_lib_paracetamol.loc[:,['BEN_REG','BOITES','lib_reg']].groupby(by=['BEN_REG','lib_reg']).sum('BOITES')
map1.head(20)